#mail {
	text-align: center;
}

details {
	color: #444;
  cursor: pointer;
	padding: 2px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

summary {
	padding: 18px;
	border: 1px solid #ff636b;
	/* background-color: #eee; */
}

.from {
	color:black;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.body {
  background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
}

.sentiment {
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
}

details summary::-webkit-details-marker {
  display:none;
}
